export(mht_critical)
export(mht_test)
export(mht_est)
export(mht_cost_estimate)
export(mht_table)

S3method(print, mht_critical)
S3method(print, mht_test)
S3method(print, mht_est)
S3method(print, mht_cost_estimate)
S3method(print, mht_table)

importFrom(stats, qnorm, pnorm, p.adjust, pt, lm, coef, summary.lm,
           nobs, residuals, model.matrix, as.formula)
